
.dashboard{
    margin: 80px auto;
    align-items: center;

    &-type{
        // margin: 15px , 30px;
        width: 15px;
    }

    &-price{
        // margin: 15px , 30px;
        width: 15px;

    }
    &-startingTime{
        // margin: 15px , 30px;
        width: 15px;

    }
    &-duration{
        // margin: 15px , 30px;
        width: 15px;

    }


}
