.calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
    position: relative;
    min-height: 300px;
    &__form{
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 16px;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba($color: #000000, $alpha: .15);
    }

    &__group{
        margin-bottom: 16px;
    }
    &__label{
        color:#333;
        font-size: 1.1rem;
        text-transform: capitalize;
        margin-right: 16px;
    }
    &__input{
        border-radius: 3px;
        border: 1px solid #eee;
        padding: 5px 15px;
        &:not(:last-child){
            margin-right: 16px;
        }
        &:focus{
            outline:none;
        }
    }
}