.forgot{
    width: 1200px;
    margin:80px auto;
    display: flex;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    color: #333;

    &__hero{
        flex: 0 0 35%;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(.7) hue-rotate(750deg);
    }
    &__header{
        font-family: 'Segoe UI', sans-serif;
        color: #539CFA;
    }
    &__main{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
    }
    &__form{
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__input{
        width: 100%;
        margin-bottom: 16px;
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, .25);
        color: #777777;
        &:focus{
            outline: none;
        }
    }

    &__btn{
        cursor: pointer;
        padding: 5px 15px;
        background: linear-gradient(to bottom, #0198FE, #007EFA);
        border: 1px solid rgba(255, 255, 255, .25);
        font-size: 1.2rem;
        color: white;
        border-radius: 3px;
        &:hover{
            background: linear-gradient(to bottom, #007EFA, #0198FE);
        }
    }
}